{ config, lib, pkgs, ... }:

{
  # Define a NixOS option that other modules can reference
  options = {
    mySecrets.tailscaleAuthKey = lib.mkOption {
      type = lib.types.str;
      default = "<Tailscale Auth Key Here>";
      description = "Tailscale auth key (do not commit real key).";
    };
  };

  config = {
    # nothing else needed here
  };
}
